[submodule "modules/sales"]
	path = modules/sales
	url = https://github.com/aidzmitry-gif/CRM.git
[submodule "modules/procurement"]
	path = modules/procurement
	url = https://github.com/aidzmitry-gif/ZAK-3.git
[submodule "modules/production"]
	path = modules/production
	url = https://github.com/aidzmitry-gif/PRO-4.git
[submodule "modules/wms"]
	path = modules/wms
	url = https://github.com/aidzmitry-gif/SKL-5.git
[submodule "modules/logistics"]
	path = modules/logistics
	url = https://github.com/aidzmitry-gif/LOG-6.git
[submodule "modules/finance"]
	path = modules/finance
	url = https://github.com/aidzmitry-gif/fin-7.git
[submodule "modules/marketing"]
	path = modules/marketing
	url = https://github.com/aidzmitry-gif/MAR-8.git
